<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GMService_API_keys</key>
	<array>
		<string>AIzaSyBuZpNjqeaG65T53YfwDkBBow_fANZ05HA</string>
		<string>AIzaSyCgPnRvKTcF7oSi6XeD_oxPyK7tn8MJMvk</string>
		<string>AIzaSyAgzhajK-o-BHL7aq96LD35rCRmIq18dKA</string>
		<string>AIzaSyCkSFSMtV54-QCLLA7savlExdooEh6oJn8</string>
		<string>AIzaSyBSrvKOYCTCEMKoTk_CfcsizVR9QP-Tufc</string>
		<string>AIzaSyCNofZ9JgUUT8tC7O5Gd0_qJ6UcU44BOdY</string>
		<string>AIzaSyBxM70ahr6LYE6MbSykL7N9Pv9Ih8xDs0g</string>
		<string>AIzaSyCVhV67JVfPXA6wSiUKqj_VcrT-j4ZThU8</string>
		<string>AIzaSyD-3uYWXSeHAloCfwa4Vhoa6EpJQxkEosc</string>
		<string>AIzaSyAAd7HS7raEyFZKjBUANuVNNxhs-ozYljc</string>
	</array>
</dict>
</plist>
